<!doctype html>
<html>
<style type="text/css">
	body{
  background: #f2f2f2;
    background-image: ('C:\Users\Wasiq\Desktop\project2\images\image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}

</style>
<head>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
	<h1>The news belongs to class </h1>
<h2>{{ prediction }}</h2>
</body>
</html>